.contacts {
  padding-top: 120px;
  padding-bottom: 118px;

  &__wrapper {
    display: flex;
    gap: 60px;
    border-radius: 60px;
    background-color: var(--clr-wild-sand);
    overflow: hidden;
  }

  &__main-content {
    margin-right: auto;
    padding: 80px;
    padding-right: 0;
    max-width: 760px;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    width: 760px;
    text-align: center;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__description {
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.5px;
    color: var(--clr-gray);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 34px;
    margin-bottom: 34px;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 1.2px;
  }

  &__address {
    margin-bottom: 10px;
    color: var(--clr-gray);
  }

  &__link {
    color: var(--clr-mine-shaft);
    transition: color 0.3s ease-in-out;

    @include hover {
      color: var(--clr-gray)
    }

    &:focus,
    &:active {
      color: var(--clr-blaze-orange);
    }
  }

  &__img {
    border-radius: 60px;
    overflow: hidden;
  }

  &__message {
    position: relative;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 1.2px;
  }

  &__message-telegram{
    position: absolute;
    top: 4px;
    right: 115px;
    width: 64px;
    height: 64px;
    background-image: url("../../img/icon-telegram.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
}
