.cta {
  padding-top: 100px;

  &__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    padding: 0 150px;
    min-height: 387px;
  }

  &__left {
    display: flex;
    height: 100%;
    flex-direction: column;
    max-width: 690px;
    height: 387px;
  }

  &__title {
    margin-bottom: auto;

    &--accent {
      position: relative;
      color: var(--clr-blaze-orange);

      &::before {
        content: "";
        position: absolute;
        top: 186px;
        left: 0;
        width: 72px;
        height: 72px;
        background-image: url("../../img/smile-rocket.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  &__right {
    position: relative;
    max-width: 731px;

    &::before {
      content: "";
      position: absolute;
      top: -6px;
      right: -78px;
      width: 57px;
      height: 57px;
      background-image: url("../../img/icon-star-1.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__text-wrapper {
    margin-bottom: 30px;
    max-height: 330px;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  &__text {
    font-size: 24px;
    line-height: 120%;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__close-btn,
  &__open-btn {
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 1px;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    color: var(--clr-gray);
    transition: color 0.3s ease-in-out;

    @include hover {
      color: var(--clr-mine-shaft);
    }

    &:focus,
    &:active {
      color: var(--clr-blaze-orange);
    }
  }

  &__close-btn {
    display: none;
  }
}
