<section class="clients">
  <div class="container clients__container">
    <div class="clients__info">
      <h2 class="section-title clients__title">
        Клиенты, которые уже покупают <br>
        <span class="clients__title clients__title--accent">Лидов для своего бизнеса</span>
      </h2>
      <p class="clients__description">
        Более 5000 компаний по всей России <br/> уже используют покупку Лидов!
      </p>
    </div>

    <ul class="clients__list">
      <li class="clients__item">
        <div class="clients__card">
          <img src="./img/logo-scoda.svg" alt="">
        </div>
      </li>
      <li class="clients__item">
        <div class="clients__card">
          <img src="./img/logo-skillbox.svg" alt="">
        </div>
      </li>
      <li class="clients__item">
        <div class="clients__card">
          <img src="./img/logo-my-class.svg" alt="">
        </div>
      </li>
      <li class="clients__item">
        <div class="clients__card">
          <img src="./img/logo-absolut-bank.svg" alt="">
        </div>
      </li>
    </ul>
  </div>
</section>
