<section class="contacts" id="contacts">
  <div class="container contacts__container">
    <div class="contacts__wrapper">
      <div class="contacts__main-content">
        <div class="contacts__intro">
          <h2 class="section-title contacts__title">
            Контакты
          </h2>
          <p class="contacts__description">
            Есть вопрос, или вы хотите получить <br /> бесплатную консультацию?
            Свяжитесь с нами, и мы предоставим необходимую информацию!
          </p>
        </div>

        <ul class="contacts__list">
          <li class="contacts__item">
            <p class="contacts__address">Адрес офиса</p>
            <p class="contacts__details">
              <a href="" class="contacts__link">г. Москва, ул. Дубининская, д. 53</a>
            </p>
          </li>
          <li class="contacts__item">
            <p class="contacts__address">Телефон:</p>
            <p class="contacts__details">
              <a class="contacts__link" href="tel:74951183282">+7 495 118-32-82</a>
            </p>
          </li>
          <li class="contacts__item">
            <p class="contacts__address">Электронная почта</p>
            <p class="contacts__details">
              <a class="contacts__link" href="mailto:mailbox@leadconveer.ru">mailbox@leadconveer.ru</a>
            </p>
          </li>
        </ul>

        <p class="contacts__message">
          Или напишите нам в любимом мессенджере:
            <a class="contacts__message-telegram" href="https://t.me/nomadcharm" target="_blank"></a>
        </p>


      </div>
      <div class="contacts__img">
        <img src="../img/img-address.jpg" alt="">
      </div>
    </div>
  </div>
</section>
