<section class="cta">
  <div class="container cta__container">
    <div class="cta__wrapper">
      <div class="cta__left">
        <h2 class="section-title cta__title">
          <span class="cta__title cta__title--accent">Лидогенерация — </span>
          это новая эра маркетинга!
        </h2>
        <button class="main-btn cta__button">Купить Лиды</button>
      </div>
      <div class="cta__right">
        <div class="cta__text-wrapper">
          <p class="cta__text">
            Биржа лидов — это современное решение для бизнеса, которое позволяет эффективно
            находить новых клиентов и масштабировать свою деятельность.
          </p>
          <p class="cta__text">
            Использование биржи помогает оптимизировать стоимость привлечения заявок и получить готовые
            решения для лидогенерации. Наш сервис предоставляет уникальную возможность купить или продать
            лиды, обеспечивая прозрачность и надёжность каждой сделки.
          </p>
          <p class="cta__text">
            Мы объединяем вебмастеров, готовых передать заявки, и бизнесы, которым нужны новые клиенты. На нашей платформе
            вебмастеры размещают готовые заявки, которые затем приобретаются бизнесами для привлечения новых клиентов.
            Это упрощает процесс взаимодействия и повышает эффективность работы. Каждая заявка проходит тщательную проверку,
            чтобы обеспечить максимальную ценность для бизнеса.
          </p>
          <p class="cta__text">
            Вы покупаете лиды, уже готовые к взаимодействию, и получаете гарантированный результат.
          </p>
        </div>
        <button class="cta__open-btn">Читать больше</button>
        <button class="cta__close-btn">Скрыть</button>
      </div>
    </div>
  </div>
</section>
