<section class="faq">
  <div class="container faq__container">
    <h2 class="section-title faq__title">
      Вопросы и ответы
    </h2>
    <div class="faq__content">
      <div class="faq__questions-wrapper">
        <ul class="list-reset faq__list accordion">
          <li class="accordion__item">
            <button class="accordion__trigger">
              <span class="accordion__trigger-title">
                На сколько это безопасно, законно и может ли навредить моему сайту?
              </span>
              <svg class="accordion__trigger-svg" width="50" height="50" viewBox="0 0 50 50" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M24.785 2V48M2 25H48" stroke="#2D2D2D" stroke-width="3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
              <svg  class="accordion__trigger-svg accordion__trigger-svg--open" width="50" height="4" viewBox="0 0 50 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2H48" stroke="#2D2D2D" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
            <div class="accordion__content">
              <p class="accordion__text">
                Происходит обработка обезличенных данных (cookies). Cookies - маленький фрагмент данных,
                который сохраняется в браузере и передается при обращению к сайтам.
              </p>
              <p class="accordion__text">
                Вы можете разместить в политике конфиденциальности условия с согласием на передачу и обработку
                cookies посетителями вашего сайта. Таким образом, это гарантирует полную легальность работы с данными. 
              </p>
              <p class="accordion__text">
                Для сайта это не может навредить, и санкций со стороны поисковых системы (Яндекс, Google) нет.
              </p>
            </div>
          </li>
          <li class="accordion__item">
            <button class="accordion__trigger">
              <span class="accordion__trigger-title">
                Откуда берутся номера телефонов?
              </span>
              <svg class="accordion__trigger-svg" width="50" height="50" viewBox="0 0 50 50" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M24.785 2V48M2 25H48" stroke="#2D2D2D" stroke-width="3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
              <svg  class="accordion__trigger-svg accordion__trigger-svg--open" width="50" height="4" viewBox="0 0 50 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2H48" stroke="#2D2D2D" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
            <div class="accordion__content">
              <p class="accordion__text">
                Происходит обработка обезличенных данных (cookies). Cookies - маленький фрагмент данных,
                который сохраняется в браузере и передается при обращению к сайтам.
              </p>
              <p class="accordion__text">
                Вы можете разместить в политике конфиденциальности условия с согласием на передачу и обработку
                cookies посетителями вашего сайта. Таким образом, это гарантирует полную легальность работы с данными. 
              </p>
              <p class="accordion__text">
                Для сайта это не может навредить, и санкций со стороны поисковых системы (Яндекс, Google) нет.
              </p>
            </div>
          </li>
          <li class="accordion__item">
            <button class="accordion__trigger">
              <span class="accordion__trigger-title">
                Смогу ли я сам установить код на сайт?
              </span>
              <svg class="accordion__trigger-svg" width="50" height="50" viewBox="0 0 50 50" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M24.785 2V48M2 25H48" stroke="#2D2D2D" stroke-width="3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
              <svg  class="accordion__trigger-svg accordion__trigger-svg--open" width="50" height="4" viewBox="0 0 50 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2H48" stroke="#2D2D2D" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
            <div class="accordion__content">
              <p class="accordion__text">
                Происходит обработка обезличенных данных (cookies). Cookies - маленький фрагмент данных,
                который сохраняется в браузере и передается при обращению к сайтам.
              </p>
              <p class="accordion__text">
                Вы можете разместить в политике конфиденциальности условия с согласием на передачу и обработку
                cookies посетителями вашего сайта. Таким образом, это гарантирует полную легальность работы с данными. 
              </p>
              <p class="accordion__text">
                Для сайта это не может навредить, и санкций со стороны поисковых системы (Яндекс, Google) нет.
              </p>
            </div>
          </li>
          <li class="accordion__item">
            <button class="accordion__trigger">
              <span class="accordion__trigger-title">
                На какую CMS или конструктор можно установить код «Лид Конвейер»?
              </span>
              <svg class="accordion__trigger-svg" width="50" height="50" viewBox="0 0 50 50" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M24.785 2V48M2 25H48" stroke="#2D2D2D" stroke-width="3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
              <svg  class="accordion__trigger-svg accordion__trigger-svg--open" width="50" height="4" viewBox="0 0 50 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2H48" stroke="#2D2D2D" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
            <div class="accordion__content">
              <p class="accordion__text">
                Происходит обработка обезличенных данных (cookies). Cookies - маленький фрагмент данных,
                который сохраняется в браузере и передается при обращению к сайтам.
              </p>
              <p class="accordion__text">
                Вы можете разместить в политике конфиденциальности условия с согласием на передачу и обработку
                cookies посетителями вашего сайта. Таким образом, это гарантирует полную легальность работы с данными. 
              </p>
              <p class="accordion__text">
                Для сайта это не может навредить, и санкций со стороны поисковых системы (Яндекс, Google) нет.
              </p>
            </div>
          </li>
          <li class="accordion__item">
            <button class="accordion__trigger">
              <span class="accordion__trigger-title">
                Как оплатить ваш сервис?
              </span>
              <svg class="accordion__trigger-svg" width="50" height="50" viewBox="0 0 50 50" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M24.785 2V48M2 25H48" stroke="#2D2D2D" stroke-width="3" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
              <svg  class="accordion__trigger-svg accordion__trigger-svg--open" width="50" height="4" viewBox="0 0 50 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2H48" stroke="#2D2D2D" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
            <div class="accordion__content">
              <p class="accordion__text">
                Происходит обработка обезличенных данных (cookies). Cookies - маленький фрагмент данных,
                который сохраняется в браузере и передается при обращению к сайтам.
              </p>
              <p class="accordion__text">
                Вы можете разместить в политике конфиденциальности условия с согласием на передачу и обработку
                cookies посетителями вашего сайта. Таким образом, это гарантирует полную легальность работы с данными. 
              </p>
              <p class="accordion__text">
                Для сайта это не может навредить, и санкций со стороны поисковых системы (Яндекс, Google) нет.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="faq__img"></div>
    </div>
  </div>
</section>
