<header class="header">
  <div class="container header__container">
    <a class="header__logo" href="">
      <img src="./img/logo.svg" alt="Логотип Leadconveer">
    </a>

    <nav class="header__menu">
      <ul class="header__menu-list">
        <li class="header__menu-item">
          <a href="how">Как это работает</a>
        </li>
        <li class="header__menu-item">
          <a href="offer">Цена</a>
        </li>
        <li class="header__menu-item">
          <a href="reviews">Отзывы</a>
        </li>
        <li class="header__menu-item">
          <a href="contacts">Контакты</a>
        </li>
      </ul>
    </nav>

    <ul class="header__contacts">
      <li class="header__contacts-item">
        <a href="#">
          <img src="./img/icon-whatsapp.png" alt="">
        </a>
      </li class="header__contacts-item">
      <li>
        <a href="#">
          <img src="./img/icon-telegram.png" alt="">
        </a>
      </li>
      <li class="header__contacts-item">
        <a class="header__contacts-item header__contacts-item--phone" href="tel:74951183282">+7 495 118-32-82</a>
      </li>
    </ul>
  </div>
</header>
