<section class="hero">
  <div class="container">
    <div class="hero__top">
      <div class="hero__info">
        <h1 class="hero__title">
          <span class="hero__title hero__title--accent">Лидогенерация</span> для бизнеса
        </h1>
        <p class="hero__text">Покупайте только целевые лиды по фиксированной цене от 300 ₽</p>
        <button class="main-btn">Выбрать пакет лидов</button>
      </div>
      <div class="hero__img"></div>
    </div>
    <div class="hero__bottom">
      <ul class="hero__advantages">
        <li class="hero__advantages-item">Лидогенерация в b2b</li>
        <li class="hero__advantages-item">Биржа лидов</li>
        <li class="hero__advantages-item">Сервис по Лидгену</li>
        <li class="hero__advantages-item">Лиды для производства</li>
        <li class="hero__advantages-item">Клиенты <br/> для бизнеса</li>
        <li class="hero__advantages-item">Определить телефон посетителя сайта</li>
      </ul>
    </div>
  </div>
</section>
