<section class="how" id="how">
  <div class="container how__container">
    <div class="swiper how__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide how__slide">
          <h2 class="section-title how__title">Как это работает?</h2>
          <div class="how__content">
            <div class="how__step">
              <h2 class="how__step-num how__step-num--one">
                01
              </h2>
              <p class="section-title how__step-description">
                Регистрация и добавление проекта в систему
              </p>
            </div>
            <ul class="how__list">
              <li class="how__item">
                <p class="how__item-description">Зарегистрируйтесь в нашем личном кабинете</p>
              </li>
              <li class="how__item">
                <p class="how__item-description">При добавление проекта вам необходимо указать URL (адрес) своего сайта</p>
              </li>
              <li class="how__item">
                <p class="how__item-description">
                  Для вашего сайта будет сгенерирован уникальный код, который необходимо
                  установить на свой сайт (в шаблоне сайта, перед тегом &lt;/head&gt;)
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide how__slide">
          <h2 class="section-title how__title">Как это работает?</h2>
          <div class="how__content">
            <div class="how__step">
              <h2 class="how__step-num how__step-num--two">
                02
              </h2>
              <p class="section-title how__step-description">
                Выбор пакета и количества Лидов
              </p>
            </div>
            <div class="how__text-content">
              <p class="how__text">
                После добавления проекта в систему, вам необходимо выбрать
                тот пакет и количество Лидов, которое вам необходимо.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide how__slide">
          <h2 class="section-title how__title">Как это работает?</h2>
          <div class="how__content">
            <div class="how__step">
              <h2 class="how__step-num how__step-num--three">
                03
              </h2>
              <p class="section-title how__step-description">
                Оплата проекта
              </p>
            </div>
            <div class="how__text-content">
              <p class="how__text">
                Оплатить Лидов вы сможете пластиковой картой или безналичным переводом.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide how__slide">
          <h2 class="section-title how__title">Как это работает?</h2>
          <div class="how__content">
            <div class="how__step">
              <h2 class="how__step-num how__step-num--four">
                04
              </h2>
              <p class="section-title how__step-description">
                Получение кода для сайта
              </p>
            </div>
            <div class="how__text-content">
              <p class="how__text">
                После оплаты, система для вас сгенерирует код, который вам необходимо
                установить на свой сайт (в шаблоне сайта, перед тегом &lt;/head&gt;)
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide how__slide">
          <h2 class="section-title how__title">Как это работает?</h2>
          <div class="how__content">
            <div class="how__step">
              <h2 class="how__step-num how__step-num--five">
                05
              </h2>
              <p class="section-title how__step-description">
                Начало получения Лидов
              </p>
            </div>
            <div class="how__text-content">
              <p class="how__text">
                В зависимости от вашей тематики (услуги или товара),
                а также объёма вашего трафика сайта система будет добавлять в личном кабинете
                контакты потенциальных клиентов, заинтересованных в вашей услуги и из вашего региона.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination how__pagination"></div>
    </div>
  </div>
</section>
