<section class="leads">
  <div class="container leads__container">
    <h2 class="section-title leads__title">
      Завалим ваш отдел продаж <br/> <span class="leads__title leads__title--accent">целевыми Лидами</span>
    </h2>
    <ul class="leads__list">
      <li class="leads__item">
        <article class="leads__card card card--one">
          <div class="card__content">
            <h3 class="card__title">Оплата за результат</h3>
            <p class="card__text">
              Вы платите только за переданные
              и получение вами целевые Лиды
              — их контактные данные (телефон,
              Telegram, email)
            </p>
          </div>
        </article>
      </li>
      <li class="leads__item">
        <article class="leads__card card card--two">
          <div class="card__content">
            <h3 class="card__title">Качественные лиды</h3>
            <p class="card__text">
              Все передаваемые вам Лиды — это потенциальные клиенты, которые искали ваш товар или услугу
            </p>
          </div>
        </article>
      </li>
      <li class="leads__item">
        <article class="leads__card card card--three">
          <div class="card__content">
            <h3 class="card__title">Любой объём — на ваш выбор</h3>
            <p class="card__text">
              Покупайте сколько контактов потенциальных клиентов в месяц
              — сколько требуется вам!
            </p>
          </div>
        </article>
      </li>
      <li class="leads__item">
        <article class="leads__card card card--four">
          <div class="card__content">
            <h3 class="card__title">Комплекс технологий</h3>
            <p class="card__text">
              После расчёта стоимости Лидов и оплаты выбранного пакета — вы получите уникальный код для своего сайта,
              который позволит отслеживать контакты тех, кто не оставил заявку
            </p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
