<section class="offer" id="offer">
  <div class="container offer__container">
    <div class="offer__info">
      <h2 class="section-title offer__title">
        Стоимость технологий <br>
        <span class="offer__title offer__title--accent">«Лид Конвейер»</span>
      </h2>
      <p class="offer__description">
        Оптимальные тарифы и цены на получение готовых Лидов и заявок <br/>
        с вашего сайта, без переплаты и абонентской платы</p>
    </div>

    <ul class="offer__list">
      <li class="offer__item">
        <article class="offer__card offer-card">
          <p class="offer-card__name">Старт</p>
          <h3 class="offer-card__price">
            50 готовых лидов за <span class="offer-card__price offer-card__price--accent">22 500 ₽</span>
          </h3>
          <p class="offer-card__description">
            Стартовый пакет для тех, кто хочет купить Лидов со своего сайта и повысить свои продаж
          </p>

          <ul class="offer-card__list">
            <li class="offer-card__item">
              <p class="offer-card__perks">50 Лидов</p>
            </li>
            <li class="offer-card__item">
              <p class="offer-card__perks offer-card__perks--accent">450 ₽ за один Лид</p>
            </li>
            <li class="offer-card__item">
              <p class="offer-card__perks">Получение за 5–7 дней</p>
            </li>
          </ul>

          <button class="main-btn offer-card__button">Купить</button>
        </article>
      </li>
      <li class="offer__item">
        <article class="offer__card offer-card offer-card--active">
          <p class="offer-card__name">Стандарт</p>
          <h3 class="offer-card__price">
            100 готовых лидов за <span class="offer-card__price offer-card__price--accent">40&nbsp;000 ₽</span>
          </h3>
          <p class="offer-card__description">
            Оптимальный пакет Лидов для любого отдела продаж и для повышения продаж своих товаров или услуг
          </p>

          <ul class="offer-card__list">
            <li class="offer-card__item">
              <p class="offer-card__perks">100 Лидов</p>
            </li>
            <li class="offer-card__item">
              <p class="offer-card__perks offer-card__perks--accent">400 ₽ за один Лид</p>
            </li>
            <li class="offer-card__item">
              <p class="offer-card__perks">Получение за 7–14 дней</p>
            </li>
            <li class="offer-card__item">
              <p class="offer-card__perks">Возможность показа Лидам рекламы через Яндекс.Директ</p>
            </li>
          </ul>

          <button class="main-btn offer-card__button">Купить</button>
        </article>
      </li>
      <li class="offer__item">
        <article class="offer__card offer-card">
          <p class="offer-card__name">Премиум</p>
          <h3 class="offer-card__price">
            300 готовых лидов за  <span class="offer-card__price offer-card__price--accent">90&nbsp;000 ₽</span>
          </h3>
          <p class="offer-card__description">
            Максимум целевых Лидов в ближайшее время для вашего бизнеса которые уже завтра могут стать Вашими клиентами!
          </p>

          <ul class="offer-card__list">
            <li class="offer-card__item">
              <p class="offer-card__perks">300 Лидов</p>
            </li>
            <li class="offer-card__item">
              <p class="offer-card__perks offer-card__perks--accent">300 ₽ за один Лид</p>
            </li>
            <li class="offer-card__item">
              <p class="offer-card__perks">Получение за 14–30 дней</p>
            </li>
            <li class="offer-card__item">
              <p class="offer-card__perks">Возможность показа Лидам рекламы через Яндекс.Директ</p>
            </li>
            <li class="offer-card__item">
              <p class="offer-card__perks">Готовый и конверсионный скрипт продаж целевым Лидам</p>
            </li>
          </ul>

          <button class="main-btn offer-card__button">Купить</button>
        </article>
      </li>
    </ul>

  </div>
</section>
