<section class="reviews" id="reviews">
  <div class="container reviews__container">
    <div class="reviews__info">
      <h2 class="section-title reviews__title">
        Отзывы клиентов
      </h2>
      <p class="reviews__description">
        Более 89% наших клиентов сотрудничают с нами <br />
        ежемесячно на протяжении более 2-х лет
      </p>
    </div>

    <ul class="reviews__list">
      <li class="reviews__item">
        <article class="reviews__card review-card">
          <div class="review-card__rating">
            <h4 class="review-card__num-rating">5,0</h4>
            <div class="review-card__star-rating">
              <img src="../img/icon-star-review.svg" alt="">
              <img src="../img/icon-star-review.svg" alt="">
              <img src="../img/icon-star-review.svg" alt="">
              <img src="../img/icon-star-review.svg" alt="">
              <img src="../img/icon-star-review.svg" alt="">
            </div>
          </div>
          <p class="review-card__review">
            «Стабильно получаем новые лиды из сервиса.
            С точки зрения рентабельности нареканий нет.
            Тёплая заявка 800–1000 рублей, конверсия, цена-качество устраивает.
            Общее впечатление достаточно хорошее, цена, качество, скорость».
          </p>
          <p class="review-card__specialty">Ниша: банкротство, списание долгов</p>
        </article>
      </li>
      <li class="reviews__item">
        <article class="reviews__card review-card">
          <div class="review-card__rating">
            <h4 class="review-card__num-rating">4,8</h4>
            <div class="review-card__star-rating">
              <img src="../img/icon-star-review.svg" alt="">
              <img src="../img/icon-star-review.svg" alt="">
              <img src="../img/icon-star-review.svg" alt="">
              <img src="../img/icon-star-review.svg" alt="">
            </div>
          </div>
          <p class="review-card__review">
            «С вашим сервисом работаем с июня 22 года. Нас заинтересовало,
            и мы решили протестировать. Взяли минимальный пакет из 10 новых
            лидов, а потом, как он закончился, взяли повышенный пакет.
            Учитывая нашу сферу и посмотреть статистику, из 100 
            заинтересованных 15 в продажу. Это хороший результат».
          </p>
          <p class="review-card__specialty">Ниша: банкротство, списание долгов</p>
        </article>
      </li>
      <li class="reviews__item">
        <article class="reviews__card review-card">
          <div class="review-card__rating">
            <h4 class="review-card__num-rating">5,0</h4>
            <div class="review-card__star-rating">
              <img src="../img/icon-star-review.svg" alt="">
              <img src="../img/icon-star-review.svg" alt="">
              <img src="../img/icon-star-review.svg" alt="">
              <img src="../img/icon-star-review.svg" alt="">
              <img src="../img/icon-star-review.svg" alt="">
            </div>
          </div>
          <p class="review-card__review">
            «С сервисом работаем чуть меньше года. Немного сомневались,
            но согласились попробовать, а после продолжили работать.
            Новые клиенты появились сразу, передали на наш колл-центр.
            С вашего источника дешевле, чем с других сервисов. Безусловно,
            с вами стоит работать».
          </p>
          <p class="review-card__specialty">Ниша: банкротство, списание долгов</p>
        </article>
      </li>
      <li class="reviews__item">
        <article class="reviews__card review-card">
          <div class="review-card__rating">
            <h4 class="review-card__num-rating">4,9</h4>
            <div class="review-card__star-rating">
              <img src="../img/icon-star-review.svg" alt="">
              <img src="../img/icon-star-review.svg" alt="">
              <img src="../img/icon-star-review.svg" alt="">
              <img src="../img/icon-star-review.svg" alt="">
            </div>
          </div>
          <p class="review-card__review">
            «С вашей компанией работаем более 2‑х лет, сотрудничество полезное.
            Мы все посмотрели, разобрались, что сервис даёт реально
            целевые заявки. Заключили контракт на 23 000 рублей, окупилось.
            Понравилась технология, она помогает нам получать лиды».
          </p>
          <p class="review-card__specialty">Ниша: банкротство, списание долгов</p>
        </article>
      </li>
    </ul>

    <ul class="reviews__video-list">
      <li class="reviews__video-item">
        <div class="reviews__video-card video-card">
          <div class="video-card__wrapper">
            <video class="video-clip"
              src="https://videocdn.cdnpk.net/joy/content/video/free/2022-03/large_preview/220310_01_Easter_4k_014.mp4?token=exp=1727998960~hmac=37adc42ce56d4c8e4ebd5bbe2cb20b6348f8feed4cc57bd9533b32ebbb12cf43"
              poster="../img/video-poster-sm.png"></video>
          </div>
          <p class="video-card__name">Отзыв 1: название</p>
        </d>
      </li>
      <li class="reviews__video-item">
        <div class="reviews__video-card video-card">
          <div class="video-card__wrapper">
            <video class="video-clip"
              src="https://videocdn.cdnpk.net/joy/content/video/free/2022-03/large_preview/220310_01_Easter_4k_014.mp4?token=exp=1727998960~hmac=37adc42ce56d4c8e4ebd5bbe2cb20b6348f8feed4cc57bd9533b32ebbb12cf43"
              poster="../img/video-poster-sm.png"></video>
          </div>
          <p class="video-card__name">Отзыв 2: название</p>
        </div>
      </li>
      <li class="reviews__video-item">
        <div class="reviews__video-card video-card">
          <div class="video-card__wrapper">
            <video class="video-clip"
              src="https://videocdn.cdnpk.net/joy/content/video/free/2022-03/large_preview/220310_01_Easter_4k_014.mp4?token=exp=1727998960~hmac=37adc42ce56d4c8e4ebd5bbe2cb20b6348f8feed4cc57bd9533b32ebbb12cf43"
              poster="../img/video-poster-sm.png"></video>
          </div>
          <p class="video-card__name">Отзыв 3: название</p>
        </div>
      </li>
    </ul>
  </div>
</section>
