<section class="services">
  <div class="container services__container">
    <h2 class="section-title services__title">
      Дополнительные услуги
    </h2>

    <ul class="services__list">
      <li class="services__item">
        <article class="services__card service-card">
          <h3 class="service-card__title">Создание <br/> промо-страницы</h3>
          <p class="service-card__price">от <span class="service-card__price service-card__price--amount">15 000 ₽</span></p>
          <button class="main-btn service-card__button">Купить</button>
        </article>
      </li>
      <li class="services__item">
        <article class="services__card service-card">
          <h3 class="service-card__title">Настройка и ведение Яндекс.Директ</h3>
          <p class="service-card__price">от <span class="service-card__price service-card__price--amount">10 000 ₽</span></p>
          <button class="main-btn service-card__button">Купить</button>
        </article>
      </li>
    </ul>
  </div>
</section>
