<section class="video">
  <div class="container video__container">
    <h2 class="section-title video__title">
      Мы подготовили для вас <br/> видео-презентацию
      <span class="video__title video__title--accent">нашей работы</span>
    </h2>
    <div class="video__wrapper">
      <video
        class="video-clip"
        src="https://videocdn.cdnpk.net/joy/content/video/free/2022-03/large_preview/220310_01_Easter_4k_014.mp4?token=exp=1727998960~hmac=37adc42ce56d4c8e4ebd5bbe2cb20b6348f8feed4cc57bd9533b32ebbb12cf43"
        poster="./img/video-poster-md.png"></video>
    </div>
  </div>
</section>
