<section class="why-us">
  <div class="container why-us__container">
    <div class="why-us__info">
      <h2 class="section-title why-us__title">
        Почему лучше <br />
        <span class="why-us__title why-us__title--accent">заказать Лидов у нас</span>
      </h2>
      <p class="why-us__description">
        Лидогенерация — это стабильное получение клиентов и выполнение плана по продажам!
      </p>
    </div>

    <ul class="why-us__list">
      <li class="why-us__item">
        <article class="why-us__card why-card">
          <h4 class="why-card__num">01</h4>
          <p class="why-card__description">
            Только качественные Лиды. Мы идентифицируем только
            тех посетителей, которым интересна ваша услуги и из вашего города.
          </p>
        </article>
      </li>
      <li class="why-us__item">
        <article class="why-us__card why-card">
          <h4 class="why-card__num">02</h4>
          <p class="why-card__description">
            Доступная цена и отсутствие минимального порога. У нас отсутствует минимальная
            плата за сервис, подписка и т.п. Вы покупаете столько Лидов — сколько хотите!
          </p>
        </article>
      </li>
      <li class="why-us__item">
        <article class="why-us__card why-card">
          <h4 class="why-card__num">03</h4>
        <p class="why-card__description">
          Техническая поддержка и комплекс услуг. Мы работаем для вас 24/7!
        </p>
        </article>
      </li>
    </ul>

    <ul class="why-us__add-list">
      <li class="why-us__add-item">
        <article class="why-us__add-card add-card add-card--one">
          <h4 class="add-card__title">Источник лидов:</h4>
          <p class="add-card__description">
            контекстная реклама в Яндекс.Директ, SEO, SMM и другая реклама дополняют технологию 
            «Лид Конвейер».
          </p>
        </article>
      </li>
      <li class="why-us__add-item">
        <article class="why-us__add-card add-card add-card--two">
          <h4 class="add-card__title">Вы экономите на рекламе: </h4>
          <p class="add-card__description">
            получая контактные данных тех, кто не оставил заявки,
            но заинтересован в Вашем товаре или услуге — это дополнительный канал продаж.
          </p>
        </article>
      </li>
      <li class="why-us__add-item">
        <article class="why-us__add-card add-card add-card--three">
          <h4 class="add-card__title">Вы сможете прогнозировать продажи: </h4>
          <p class="add-card__description">
            чтобы не ждать, когда-же кто‑то позвонит или оставит заявку,
            звоните и продавайте первым!
          </p>
        </article>
      </li>
      <li class="why-us__add-item">
        <article class="why-us__add-card add-card add-card--four">
          <h4 class="add-card__title">Безопасно: </h4>
          <p class="add-card__description">
            это абсолютно легальный и законный метод получения Лидов.
          </p>
        </article>
      </li>
      <li class="why-us__add-item">
        <article class="why-us__add-card add-card add-card--five">
          <h4 class="add-card__title">Быстро: </h4>
          <p class="add-card__description">
            запуск и получение первых Лидов обычно занимает 5–7 дней,
            а добавление проекта в систему менее 1 часа.
          </p>
        </article>
      </li>
    </ul>
  </div>
</section>
